<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Muhammad Yunus Khoiruddin</title>
        <meta name="description" content="Web Developer from Bali">
        <meta property="og:title" content="Muhammad Yunus Khoiruddin">
        <meta property="og:description" content="Web Developer from Bali">
        <meta property="og:image" content="https://yunuskhoiruddin.github.io/assets/thumbnail.jpg">
        <meta property="og:url" content="https://yunuskhoiruddin.github.io/">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/scripts/style.css">
        <script src="/scripts/vue.global.js" defer></script>
        <script src="/scripts/vue-router.global.js" defer></script>
        <script src="/scripts/app.js" defer></script>
    </head>
    <body>
        <div id="sticky-title"></div>
        <div id="app"></div>
        <template id="app-view">
            <transition name="fade">
                <header v-if="!loading">
                    <h1>Muhammad Yunus Khoiruddin</h1>
                    <h3>{{job[lang]}}</h3>
                </header>
            </transition>
            <router-view v-slot="{ Component, route }">
                <Transition name="fade" mode="out-in">
                    <main :key="route.name">
                        <component :is="Component" @loadoff="loadoff"></component>
                    </main>
                </Transition>
            </router-view>
            <transition name="fade">
                <footer v-if="!loading">
                    Email: <a href="mailto:m.yunuskhoiruddin@gmail.com" target="_blank">m.yunuskhoiruddin@gmail.com</a> -
                    <a href="https://linkedin.com/in/muhammad-yunus-khoiruddin" target="_blank">Linkedin</a> -
                    <a href="https://www.instagram.com/yunus_khoiruddin" target="_blank">Instagram</a>
                    <br>
                    <a @click="switchLang" class="lang">{{lang=='en'?'Language':'Bahasa'}}: {{lang=='en'?'English':'Indonesian'}}</a> | &copy; 2017-2024
                </footer>
            </transition>
        </template>
        <template id="home">
            <section id="skills">
                <h2>{{lang=='en'?'Skills':'Keterampilan'}}</h2>
                <article v-for="(text, title) in skills" :key="title">
                    <h3>{{title}}</h3>
                    <p>{{text}}</p>
                </article>
            </section>
            <section id="experience">
                <h2>{{lang=='en'?'Experience':'Pengalaman'}}</h2>
                <article v-for="(category ,key) in categories" :key="key">
                    <h3 class="category">{{category}}:</h3>
                    <div>
                        <router-link v-for="item in filterCategory(items, key)"
                            :to="{name:'detail',params:{slug:item.slug}}"
                            :id="'proj-'+item.slug">
                            <div v-if="category != 'Other'" class="thumbnail" :style="{ backgroundImage: 'url(/assets/' + (item.name[0] == '*' ? 'placeholder.jpg' : 'thumbnails/' + item.slug + '.jpg') + ')' }"></div>
                            <b>{{item.name}}</b><br>
                            {{item.info[lang].summary}}<br>
                            {{item.period}}
                        </router-link>
                    </div>
                </article>
            </section>
        </template>
        <template id="detail">
            <router-link :to="{name:'home'}">Back</router-link>
            <section id="detail" v-if="item">
                <h1 style="line-height: 1;">{{item.name}}</h1>
                <p>{{item.period}} | {{item.info[lang].summary}}</p>
                <b>Contribution:</b>
                <p>{{item.info[lang].contribution||'-'}}</p>
                <b>Technology Used:</b>
                <p>{{item.info[lang].technology||'-'}}</p>
                <b>Project Focus:</b>
                <p>{{item.info[lang].focus||'-'}}</p>
                <b>Final Outcome:</b>
                <p>{{item.info[lang].final||'-'}}</p>
                <b v-if="item.category !== 'other'">Preview:</b>
                <div v-if="item.category !== 'other'" class="preview" :style="{ backgroundImage: 'url(/assets/projects/' + item.slug + '.png)' }"></div>
            </section>
        </template>
    </body>
</html>
