<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Muhammad Yunus Khoiruddin</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/scripts/style.css">
        <script src="/scripts/vue.global.js" defer></script>
        <script src="/scripts/vue-router.global.js" defer></script>
        <script src="/scripts/app.js" defer></script>
    </head>
    <body>
        <div id="app"></div>
        <template id="app-view">
            <header>
                <h1>Muhammad Yunus Khoiruddin</h1>
                <h3>Freelancer from Bali</h3>
            </header>
            <router-view v-slot="{ Component, route }" :database="database">
                <Transition name="fade" mode="out-in">
                    <main :key="route.name">
                        <component :is="Component" :database="database"></component>
                    </main>
                </Transition>
            </router-view>
            <footer>
                &copy; 2017-2023
            </footer>
        </template>
        <template id="home">
            <section id="skills">
                <h2>Skills</h2>
                <article v-for="(text, title) in skills" :key="title"
                    v-if="loaded">
                    <h3>{{title}}</h3>
                    <p>{{text}}</p>
                </article>
            </section>
            <section id="experience">
                <h2>Experience</h2>
                <article v-for="(category ,key) in categories" :key="key"
                    v-if="loaded">
                    <h3>{{category}}:</h3>
                    <div>
                        <router-link v-for="item in filterCategory(items, key)"
                            :to="{name:'detail',params:{slug:item.slug}}"
                            :id="'proj-'+item.slug">
                            <b>{{item.name}}</b><br>
                            {{item.info.en.summary}}<br>
                            {{item.period}}
                        </router-link>
                    </div>
                </article>
            </section>
        </template>
        <template id="detail">
            <router-link :to="{name:'home'}">Back</router-link>
            <section id="detail">
                <h1 style="line-height: 1;">{{item.name}}</h1>
                <p>{{item.period}} | {{item.info.en.summary}}</p>
                <b>Project Objective:</b>
                <p>{{item.info.en.objective}}</p>
                <b>Contribution:</b>
                <p>{{item.info.en.contribution}}</p>
                <b>Technology Used:</b>
                <p>{{item.info.en.technology}}</p>
                <b>Final Outcome:</b>
                <p>{{item.info.en.final}}</p>
            </section>
        </template>
    </body>
</html>